@mixin title{
    font-family: "Azeret Mono", sans-serif;
    font-weight: 700;
    font-size: 17px;
    line-height: 127%;
    text-align: center;
}
@mixin text{
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 140%;
    text-align: center;
}

$wine:#4A2B33;
$rose:#d27487;
$olive:#6f6f64;

@import "./blocks/header.scss";
@import "./blocks/about.scss";
@import "./blocks/menu.scss";
@import "./blocks/adress.scss";
@import "./blocks/gallery.scss";
@import "./blocks/award.scss";
@import "./blocks/footer.scss";

